<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us - Currency Converter</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- same font from index -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <a href="/home" class="back">Back</a>
    <div class="wrapper">
      <header >About Us</header>
      <form id="aboutus" action="/aboutus" method="POST"></form>
      <div class="content">
        <h3>Welcome to Our Currency Converter Website</h3>
        <p> </p>
        we tried to manage a broker acount and we had an issue of knowing in what market should we invest.
        <p>
            <br>
          we wanted a real-time currency of the U.S dollar by ILS.
        </p>
        <br>
        <p>
          our website is suited for anyone who want real-time relible currency coin converter.
        </p>
        <br>
        <P id="aboutusEnd">
            ENJOY!
        </P>
      </div>
    </div>
    <script src="country-list.js"></script>
    <script src="script.js"></script>
  </body>
</html>
