<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <title>Profile</title>
</head>
<body>
    <a href="/home" class="sign-out">back</a>
    <form action="/HistoryTable" method="post">
    <div class="container" id="greeting" >
        <p id="greetMes"></p>
        <p id="greetMes2"></p>
        <p id="greetMes3"></p>
        <button type="submit">Watch Your History</button>
    </div>
</form>
</body>
</html>